body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Google Sans",Roboto,Arial,sans-serif;


    margin-top: 10%;
    width: 300px;
}

.logo {
    width: 100px;
    margin-bottom: 8px;
}

main h1 {
    color: #717171;
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 1px 1px 5px grey;

    background-color: #F7F7F7;
    border-radius: 4px;
    
    padding: 50px;
}

form input {
    font-weight: 600;
    border: 0.5px solid #DFDFDF;
    padding:8px ;
}

form input::placeholder {
    color: #717171;
}

textarea:focus, input:focus, select:focus {
    border: solid 2px #1B74E8;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.user {
    opacity: 30%;
    width: 85px;
}

button {
    color: #FFFFFF;
    font-weight: 600;
    background-color: #1B74E8;
    border: none;
    border-radius: 4px;

    padding: 8px;
    margin-top: 4px;
    width: 100%;

}

button:hover {
    cursor: pointer;
    opacity: 90%;
}